.wr_page {
    float: left;
    padding-left: 16px;
}

.wr_column {
    padding-right: 16px;
    float: left;
}

.wr_checkbox, .wr_counter, .wr_button, .wr_dropdown, .wr_string, .wr_number, .wr_text, .wr_select {
    font-size: 16px;
    font-family: "DejaVu Serif";
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: black;
    margin: 0 auto 16px;
    padding: 16px;
}

.wr_checkbox, .wr_counter, .wr_button, .wr_string, .wr_number {
    width: 248px; /* 250 - 2 */
    height: 41px; /* 75 - 2 - 32 */
}

.wr_dropdown {
    width: 282px;
    height: 75px;
}

.wr_text {
    width: 248px; /* 250 - 2 */
    height: 132px; /* 75 + 75 + 16 - 2 - 32 */
}

.wr_select {
    min-width: 280px; /* 282 - 2 */
    display: table;
    table-layout: fixed;
    padding: 0px;
}

.wr_button {
    clear: both;
}

.wr_dropdown:hover, .wr_select_option:hover, .wr_counter:hover, .wr_checkbox:hover, .wr_button:hover, .wr_string:hover, .wr_number:hover, .wr_text:hover {
    background-color: lightblue;
}

.wr_button > *, .wr_checkbox > *, .wr_counter > *, .wr_dropdown > *, .wr_string > *, .wr_number > *, .wr_text > * {
    line-height: 41px;
}

.wr_dropdown > *, .wr_string > *, .wr_number > *, .wr_text > * {
    width: 230px;
}

.wr_counter_count {
    font-size: 200%;
}

.wr_select_option {
    height: 41px; /* 75 - 2 - 32 */
    line-height: 41px;
    padding: 16px;
    display: table-cell;
    text-align: center;
}

.selected {
    background-color: dodgerblue;
    color: white;
}