html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    display: flex;
    flex-flow: column;
}

#body {
    overflow: hidden;
    display: flex;
    flex-flow: row;
}

#option_list {
    min-width: 299px; /* 300 - 1 */
    max-width: 299px; /* 300 - 1 */
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    border-style: solid;
    border-color: rgb(224, 224, 224);
    border-width: 0 1px 0 0;
    margin: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#right {
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    overflow-x: hidden;
}

#preview {
    padding: 8px;
    text-align: center;
    vertical-align: middle;
    overflow-y: scroll;
    overflow-x: auto;
}

#pick_lists {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#pick_lists .wr_button, #pick_lists .wr_dropdown {
    margin-bottom: 0;
}

#results_tab th, td {
    padding: 8px;
}
  
#results_tab tr:nth-child(even) {
    background-color: var(--alt-table-color);
}

.pit_option {
    overflow: hidden;
    clear: both;
    font-size: 16px;
    border-style: solid;
    border-color: var(--border-color);
    border-width: 0 0 1px 0;
    padding: 16px;
    background-color: var(--foreground-color);
}

.match_option {
    margin-bottom: 0;
    overflow: hidden;
    clear: both;
    font-size: 16px;
    border-style: solid;
    border-color: var(--border-color);
    border-width: 0 0 1px 0;
    padding: 16px;
    background-color: var(--foreground-color);
}

.match_option > *, .pit_option > * {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    padding: 0 auto 0;
}

.option_number {
    font-size: 200%;
    width: 70px;
    text-align: center;
    padding: 0 auto 0;
}

.long_option_number {
    font-size: 200%;
    text-align: center;
    padding: 0 auto 0;
}

.alliance {
    width: 170px;
}

.blue {
    color: var(--blue-alliance-color);
}

.red {
    color: var(--red-alliance-color);
}

.scouted {
    background-color: var(--inactive-color);
    color: var(--inactive-text-color);
}

.selected {
    background-color: var(--active-color);
    color: var(--active-text-color);
}

.result_cell {
    max-width: 250px;
    table-layout: fixed;
}

#result_title {
    text-align: center;
}

#avatar {
    display: inline-block;
    height: 50px;
    width: 50px;
}

.result_name {
    display: inline-block;
    vertical-align: top;
    line-height: 50px;
    margin: 0;
}

#whiteboard {
    background-size: 100% 100%;
    user-select: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;
}

.pick_list {
    display: inline-block;
    width: 300px;
    vertical-align: top;
}

.center_text {
    margin: 8px;
}

#menu_toggle {
    padding: 8px;
    height: 50px;
    width: auto;
    position: absolute;
    left: 0;
    bottom: 0;
}