html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    display: flex;
    flex-flow: column;
}

#body {
    overflow: hidden;
    display: flex;
    flex-flow: row;
}

#left, #right {
    min-width: 299px; /* 300 - 1 */
    max-width: 299px; /* 300 - 1 */
    overflow: hidden;
    display: flex;
    flex-flow: column;
    border-style: solid;
    border-color: rgb(224, 224, 224);
    border-width: 0 1px 0 0;
    margin: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* TODO left of #right */
}

#option_list, #secondary_option_list {
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    margin: 0;
}

#right {
    display: none;
}

#center {
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    overflow-x: hidden;
}

#preview {
    padding: 8px;
    text-align: center;
    vertical-align: middle;
    overflow-y: scroll;
    overflow-x: auto;
}

#pick_lists {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#pick_lists .wr_button, #pick_lists .wr_dropdown {
    margin-bottom: 0;
}

.pit_option {
    overflow: hidden;
    clear: both;
    font-size: 16px;
    border-style: solid;
    border-color: var(--border-color);
    border-width: 0 0 1px 0;
    padding: 16px;
    background-color: var(--foreground-color);
}

.match_option {
    margin-bottom: 0;
    overflow: hidden;
    clear: both;
    font-size: 16px;
    border-style: solid;
    border-color: var(--border-color);
    border-width: 0 0 1px 0;
    padding: 16px;
    background-color: var(--foreground-color);
}

.match_option > *, .pit_option > * {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    padding: 0 auto 0;
}

.option_number {
    font-size: 200%;
    width: 70px;
    text-align: center;
    padding: 0 auto 0;
}

.long_option_val {
    font-size: 200%;
    text-align: center;
    padding: 0 auto 0;
}

.long_option_number {
    font-size: 175%;
    text-align: center;
    padding: 0 auto 0;
}

.long_option_description {
    font-size: 100%;
    text-align: center;
    padding: 0 auto 0;
}

.alliance {
    width: 170px;
}

.blue {
    color: var(--blue-alliance-color);
}

.red {
    color: var(--red-alliance-color);
}

.scouted {
    background-color: var(--inactive-color);
    color: var(--inactive-text-color);
}

.highlighted {
    background-color: var(--highlight-color);
}

.selected {
    background-color: var(--active-color);
    color: var(--active-text-color);
}

.result_cell {
    max-width: 250px;
    table-layout: fixed;
    overflow-x: auto;
}

.result_title {
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid lightgray;
}

.side_rank {
    display: block;
}

.result_name {
    display: inline-block;
    vertical-align: top;
    line-height: 50px;
    margin: 0;
}

#whiteboard {
    background-size: 100% 100%;
    user-select: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;
}

.center_text {
    margin: 8px;
}

#menu_toggle, #secondary_menu_toggle {
    padding: 8px;
    height: 50px;
    width: auto;
    position: absolute;
    bottom: 0;
}

#menu_toggle {
    left: 0;
}

#secondary_menu_toggle {
    display: none;
    right: 0;
}

#pick_list_table td, th {
    text-align: center;
    padding: 16px;
}

#pick_list_table .team_cell {
    text-align: right;
}

.selection_filter > span > .wr_button {
    width: calc(299px - 2*var(--input-padding));
    margin: 4px auto;
}

.selection_filter > span > .wr_dropdown {
    width: 299px;
    margin: 4px auto;
}